/* 
The style is inspired in part by YouTube.com and the original 
OsloMet "Matematisk modellering og datavitenskap – ingeniør" page (https://www.oslomet.no/studier/tkd/matematisk-modellering-datavitenskap),
but has gone through many iterations since. 
*/



/*----------------General CSS----------------*/
body {
    margin: 0;
    font-family: Roboto, Moderat, Avenir, Helvetica, Arial, sans-serif;
    background-color: rgb(248, 248, 248);
    color: #000;
}
h1, h2 {
    font-family: "Fjalla One", Roboto, Moderat, Avenir, Helvetica, Arial, sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
li {
    list-style-position: inside;
}



/*----------------CSS for special arrow link + tooltip----------------*/
.search-button,
.student-overview-button,
.arrow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.arrow-link {
    justify-content: left;
}
/*Source of tooltip arrow: https://www.w3schools.com/css/css_tooltip.asp*/
.search-button .tooltip,
.student-overview-button .tooltip {
    position: absolute;
    bottom: -30px;

    opacity: 0;
    transition: opacity 0.15s;

    pointer-events: none;
    white-space: nowrap;

    background-color: gray;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 2px;
}
.search-button:hover .tooltip,
.student-overview-button:hover .tooltip {
    opacity: 1;
}
.tooltip::after {
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}
.tooltip-top::after {
    bottom: 100%;
    border-color: transparent transparent gray transparent;
}



/*----------------CSS for the header bar at the top----------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 55px;
    background-color: #fff;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.header-left-section {
    margin: 0 25px 0 0;
}
.oslomet-logo {
    width: 111px;
    height: 56px;
}

.header-center-section {
    margin: 0 35px 0 60px;
    max-width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

}
.search-bar {
    flex: 1;

    width: 0;
    height: 30px;

    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    font-size: 16px;

    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-button {
    margin: 0 10px 0 -1px;

    width: 55px;
    height: 34px;

    border: 1px solid rgb(192, 192, 192);

    cursor: pointer;
}
.search-icon {
    height: 20px;
    margin-top: 2px;
}

.header-right-section {
    margin: 0 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.student-overview-button,
.arrow-link {
    color: #000;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
}
.student-overview-button {
    font-family: "Fjalla One", Roboto, Moderat, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.student-overview-button img,
.arrow-link img {
    margin-right: 10px;
    transition: margin 0.15s;
}
.arrow-link:hover img {
    margin-right: 20px;
}
.student-overview-button .tooltip {
    font-family: Roboto, Moderat, Avenir, Helvetica, Arial, sans-serif;
}



/*----------------CSS for the footer section at the bottom----------------*/
.footer {
    margin-left: 100px;

    background-color: #fff;
    border-top: 1px solid rgb(228, 228, 228);
}

.footer-top {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px;
}
.footer-top-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-top-inner a {
    background-color: #000;
    color: #ffd500;
    font-weight: 700;
    line-height: 30px;
    padding: 20px;
    max-width: 203px;
}
.footer-top-inner a:hover {
    color: #fff;
}

.footer-bottom {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 50px 150px 40px;
}
.footer-bottom-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-bottom-inner-sections {
    margin-bottom: 50px;
}
.footer-info {
    margin-top: 10px;
}
.footer-info p {
    margin: 5px 0;
    font-weight: 700;
}

.footer-links-container p {
    margin: 0 0 10px 0;
}
.footer-links {
    padding: 5px;
    border-radius: 2px;
    transition: background-color 0.15s, color 0.15s;
}
.footer-links:hover {
    background-color: #000;
    color: #ffd500;
}

.social-media-links {
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 120px;
}
.social-media-links img {
    margin-right: 10px;
}
.social-media-links:hover div {
    text-decoration: underline;
}



/*----------------CSS for the menu on the left side----------------*/
.sidebar-menu {
    position: fixed; 
    top: 55px;
    bottom: 0;
    left: 0;

    z-index: 200;

    background-color: #fff;
    border-right: 1px solid rgb(228, 228, 228);
    width: 110px;
}
.sidebar-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 74px;

    font-family: "Fjalla One", Roboto, Moderat, Avenir, Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #000;
}
.sidebar-menu-link:hover {
    background-color: rgb(235, 235, 235);
}
.sidebar-menu-link img {
    margin: 0 0 4px 0;
    height: 24px;
}
.sidebar-menu-bottom-link {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 110px;
}
.toggle-hide {
    visibility: visible;
}


/*----------------CSS for the main content----------------*/
.main-section {
    margin: 80px 30px 0 140px;
}

.main-section-header {
    margin-bottom: 50px;
}
.main-section-header h1 {
    margin-bottom: 0;
    font-size: 35px;
}
.main-section-header p {
    margin: 5px 0 20px 0;
    font-size: 18px;
}
.main-section-header-sub {
    font-weight: 700;
}

.section-header {
    background-color: #000;
    color: #ffd500;
    padding: 5px 10px;
    border-radius: 3px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    background-color: #fff;
    padding: 5px 15px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}
.info-grid p:first-child {
    padding-top: 10px;
    border-top: 1px solid #000;
    font-weight: 700;
}
.info-grid-paragraph {
    font-size: 14px;
}
.study-structure-info-grid {
    grid-template-columns: 1fr 1fr 1fr;
}
.academic-year-header {
    margin-top: 50px;
    font-size: 23px;
    background-color: rgb(237 237 237);
    border: 1px solid rgb(229 226 226);
    padding: 5px 10px;
    border-radius: 3px;
}

.centering {
    margin: 70px auto;
    min-width: 700px;
    max-width: 1000px;
}

.requirements-section-link {
    font-weight: 700;
    text-decoration: underline;
}

.paragraph-content {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}
.paragraph-content-link {
    transition: background-color 0.15s;
}
.paragraph-content-link:hover {
    background-color: rgb(235, 235, 235);
}

.manager-container {
    display: grid;
    grid-template-columns: 110px 1fr;
}
.manager-picture {
    width: 100px;
}
.manager-info p {
    margin: 0 0 20px 0;
}
.manager-info p:first-child {
    font-weight: 700;
}

.suggested-programs-container {
    padding: 0 20px 10px 20px;
    border-top: 1px solid rgb(228, 228, 228);
    transition: background-color 0.15s;
}
.suggested-programs-container:hover {
    background-color: #fff;
}
.suggested-programs-last {
    border-bottom: 1px solid rgb(228, 228, 228);
}
.suggested-programs-info-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 15px;
    margin-top: -10px;
}
.suggested-programs-info-container div {
    padding: 2px 10px;
}
.suggested-programs-info-container div:first-child {
    padding: 2px 10px 2px 0;
}

.student-history-button-container {
    margin-top: 50px;
}
.student-history-button {
    background-color: #000;
    color: #ffd500;
    font-weight: 700;
    padding: 20px;
}
.student-history-button:hover {
    color: #fff;
}



/*----------------CSS specifically for the activity.html page----------------*/
.activity-image {
    width: 100%;
    margin-top: 20px;
}



/*----------------CSS specifically for the git.html page----------------*/
.git-picture-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    max-width: 1000px;
}
.git-picture-section img {
    width: 100%;
}
.git-table {
    border-spacing: 20px 5px;
}
.git-table-head {
    border-bottom: 1px solid #000;
}



/*----------------Changes to the CSS based on changes in screen/browser window size----------------*/
@media (min-width: 886px) {
    .info-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .centering {
        min-width: 700px;
        max-width: 1000px;
    }
}
@media (min-width: 790px) and (max-width: 885px) {
    .info-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .centering {
        min-width: 500px;
        max-width: 800px;
    }
}
@media (min-width: 660px) and (max-width: 789px) {
    .info-grid,
    .study-structure-info-grid {
        grid-template-columns: 1fr 1fr;
    }

    .centering {
        min-width: 400px;
        max-width: 700px;
    }
}
@media (max-width: 659px) {
    .info-grid,
    .study-structure-info-grid {
        grid-template-columns: 1fr;
    }

    .centering {
        min-width: 400px;
        max-width: 600px;
    }

    .suggested-programs-info-container {
        font-size: 13px;
    }

    .main-section-header h1 {
        font-size: 27px;
    }
    .main-section-header p {
        font-size: 16px;
    }
    h2 {
        font-size: 22px;
    }
    p {
        font-size: 15px;
    }
    ul {
        font-size: 15px;
    }

    .academic-year-header {
        font-size: 20px;
    }
}
@media (max-width: 750px) {
    .footer-top-inner,
    .footer-bottom-inner {
        flex-direction: column;
    }
}

/*----------------Screen size changes specifically for the git.html page----------------*/
@media (max-width: 900px) {
    .git-picture-section {
        flex-direction: column;
    }
}

@media (max-height: 850px) {
    .toggle-hide {
        visibility: hidden;
    }

    .sidebar-menu-link {
        height: 40px;
    }
    .sidebar-menu-link img {
        height: 0;
    }
}